<html xmlns:th="https://www.w3.org/1999/xhtml">
<div th:fragment="admin">
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" th:href="@{/}"> <img
					th:src="@{/img/logo.png}" alt="logo" width="130" height="32"
					class="d-inline-block align-text-top">
				</a>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false"
							th:text="#{lang.change}"></a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="?lang=en"  th:text="#{general.english}"></a></li>
							<li><a class="dropdown-item" href="?lang=ua" th:text="#{general.ukrainian}"></a></li>
							</ul></li>
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" th:href="@{/}" th:text="#{header.main}"></a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/users}"
							th:text="#{header.users}"></a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/requests}" th:text="#{header.requests}"></a></li>
					</ul>
				</div>
				<div class="btn-group">
					<button class="btn btn-secondary dropdown-toggle" type="button"
						id="defaultDropdown" data-bs-toggle="dropdown"
						data-bs-auto-close="true" aria-expanded="false">
						<img th:src="@{/img/defaultUserLogo.png}" alt="userLogo">
					</button>
					<ul class="dropdown-menu dropdown-menu-end"
						aria-labelledby="defaultDropdown">
						<li><a class="dropdown-item" href="logout" th:text="#{general.logout}"></a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div th:switch="${requests.size() == 0}">
			<h1 th:case="${true}" class="text-center" th:text="#{admin.no_requests}"></h1>
			<div th:case="*" >
			<h1 th:text="#{admin.header}"></h1>
				<div class="container">
					<table class="table table-sm align-middle">
						<thead>
							<tr>
								<th scope="col" th:text="#{operations.date}"></th>
								<th scope="col" th:text="#{users.name}"></th>
								<th scope="col" th:text="#{accounts.account}"></th>
								<th scope="col" th:text="#{requests.action}"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="userRequest: ${requests}">
								<th scope="row" th:text="Lfnf"></th>
								<td th:text="${userRequest.getUser().getUserName()}"></td>
								<td th:text="${userRequest.getAccount().getName()}"></td>
								<td>
									<div class="btn-group">
										<a th:href="@{?dismissRequest=__${userRequest.getId()}__}"
											class="btn btn-danger " aria-current="page" th:text = "#{admin.dismiss}"></a>
										<a th:href="@{?acceptRequest=__${userRequest.getId()}__}"
											class="btn btn-primary" th:text=#{admin.accept}></a>
									</div>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>